DATABASE_URL=postgresql://postgres:Evino%402024%21@evino_postgres:5432/evino?sslmode=disable
ADMIN_TOKEN=EvVip@Admin2024
NODE_ENV=production
PORT=3000
PAYMENTSBLACK_API_KEY=htus_c72aa50f6b4e3f2eda93a88eaf5dfc41
PAYMENTSBLACK_API_SECRET=5498b2146d8ecdaa7fe906f7cf3f75890b154648fd8e23c0bf49db276334795a
WEBHOOK_URL=https://brindevipevino.com.br/api/webhook/pix
SNOOP_TOKEN=snoop-a7b4e6c8c297850a447ce2118b396874-2026
RESEND_API_KEY=re_2y7q23X6_9henRAfQC176eSpBXNUGRQt9
EMAIL_FROM=pedidos@brindevipevino.com.br
EMAIL_ADMIN=seu@email.com
